/* ----- reset ----- */
@import url(./reset.css);

/* ----- ----- */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #5E6282;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  overflow: clip;
}

.wrapper>main {
  flex-grow: 1;
  /* Прижимає Footer до нижнього краю сторінки в не залежності наповнення main */
}

[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----- Components ----- */

.header-block {
  font-weight: 800;
  /* Відступ 10px якщо елемент лишиться один, цього відступа не буде */
  display: grid;
  gap: 10px;
}

.header-block-label {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #4475f2;
  text-transform: uppercase;
  line-height: 23px;
}

.header-block-title {
  font-size: 48px;
  line-height: 1.35417;
  letter-spacing: 0.01em;
  color: #000;
}

/* header */

.header {
  /* Закріпити хедер */
  /* position: sticky;
  top: 0; */
  padding-top: 77px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 125px;
}

.header-logo {
  flex: 0 0 80px;
}

.header-logo img {
  max-width: 100%;
}

.header-menu {}

.menu {}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-item {}

.menu-link {
  font-size: 14px;
  text-transform: capitalize;
  color: #9a9ea6;
  transition: color 250ms ease-in-out;
}

.menu-link:hover {
  color: #4737ff;
}

/* ---------- hero ---------- */

.page-hero {}

.hero {
  padding-top: 62px;
  padding-bottom: 40px;
  position: relative;
}

.hero__container {
  display: flex;
}

.hero__container::before,
.hero__container::after {
  position: absolute;
  content: "";
  background-color: #4475f2;
  height: 150%;
  transform-origin: left bottom;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, .25);
  width: 100vw;
  border-radius: 50px;
  bottom: 0;
}

.hero__container::before {
  left: calc(50% + 30px);
  transform: skewX(-20deg);
}

.hero__container::after {
  left: calc(50% + 444px);
  transform: skewX(33deg);
}

.hero-content {
  flex: 0 1 50%;

  display: grid;
  align-content: start;
  justify-items: start;
  gap: 30px;
}

.content-title {
  font-weight: 800;
  font-size: 76px;
  line-height: 1.17105;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.content-title a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4475f2;
}

.content-title a:hover {
  text-decoration: none;
}

.content-hero-text {}

.content-hero-text p {
  font-size: 16px;
  line-height: 1.875;
  color: #5e6282;
}

.content-hero-text p:not(:last-child) {
  margin-bottom: 10px;
}

.content-hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  color: #fff;
  padding: 18px 54px;
  box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.5);
  background-color: #4475f2;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: all 250ms;
}

.content-hero-button:hover {
  top: 3px;
  box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
}

.hero-images {
  flex: 0 1 50%;
}

.images-hero {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 27px;
}

.images-hero-item {}

.images-hero-img {
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .25);
}

.images-hero-item-01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: 10px;
}

.images-hero-item-02 {}

.images-hero-item-03 {
  align-self: center;
  justify-self: end;
  grid-row: span 2;
}

.images-hero-item-04 {
  align-self: end;
  justify-self: end;
}