/* ----- reset ----- */
@import url(./reset.css);

/* ----- ----- */
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #5E6282;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  overflow: clip;
}

.wrapper>main {
  flex-grow: 1;
  /* Прижимає Footer до нижнього краю сторінки в не залежності наповнення main */
}

[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----- Components ----- */

.header-block {
  font-weight: 800;
  /* Відступ 10px якщо елемент лишиться один, цього відступа не буде */
  display: grid;
  gap: 10px;
}

.header-block-label {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #4475f2;
  text-transform: uppercase;
  line-height: 23px;
}

.header-block-title {
  font-size: 48px;
  line-height: 1.35417;
  letter-spacing: 0.01em;
  color: #000;
}

/* header */

.header {
  padding-top: 77px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 125px;
}

.header-logo {
  flex: 0 0 80px;
}

.header-logo img {
  max-width: 100%;
}

.header-menu {}

.menu {}

.menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-item {}

.menu-link {
  font-size: 14px;
  text-transform: capitalize;
  color: #9a9ea6;
  transition: color 250ms ease-in-out;
}

.menu-link:hover {
  color: #4737ff;
}

/* hero */
.page-hero {}

.hero {}

.hero__container {
  display: flex;
}

.hero-content {
  flex: 0 1 50%;
}

.content-title {}

.content-hero-text {}

.content-hero-button {}

.hero-images {}

.images-hero {}

.images-hero-item {}

.images-hero-item-01 {}

.images-hero-img {}

.images-hero-item-02 {}

.images-hero-item-03 {}

.images-hero-item-04 {}