/* ----- reset ----- */
@import url(./reset.css);

/* ----- ----- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #5E6282;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  overflow: clip;
}

.wrapper>main {
  flex-grow: 1;
  /* Прижимає Footer до нижнього краю сторінки в не залежності наповнення main */
}

[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----- Components ----- */

.header-block {
  font-weight: 800;
  /* Відступ 10px якщо елемент лишиться один, цього відступа не буде */
  display: grid;
  gap: 10px;
}

.header-block-margin {
  margin-bottom: 90px;
}

@media (max-width:800px) {
  .header-block-margin {
    margin-bottom: 50px;
  }
}

.header-block-label {
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #4475f2;
  text-transform: uppercase;
  line-height: 23px;
}

.header-block-title {
  font-size: 48px;
  line-height: 1.35417;
  letter-spacing: 0.01em;
  color: #000;
}

@media (max-width:560px) {
  .header-block-margin {
    margin-bottom: 20px;
  }

  .header-block-title {
    font-size: 42px;
  }
}

/* ----- header ----- */

.header {
  /* Закріпити хедер */
  /* position: sticky;
  top: 0; */
  padding-top: 77px;
  position: relative;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  column-gap: 125px;
}

.header-logo {
  flex: 0 0 80px;
}

.header-logo img {
  max-width: 100%;
}

.menu-list {
  display: flex;
  align-items: center;
  column-gap: 40px;
  row-gap: 40px;
  flex-wrap: wrap;
}

.header-logo {
  max-width: 150px;
  flex: 0 0 auto;
}

.menu-link {
  font-size: 14px;
  text-transform: capitalize;
  color: #9a9ea6;
  transition: color 250ms ease-in-out;
  text-shadow: 0 0 1px #fff;
}

.menu-link:hover {
  color: #4737ff;
}

@media (max-width:800px) {
  .menu-list {
    column-gap: 20px;
    justify-content: center;
  }

  .header__container {
    column-gap: 50px;
  }

  .menu-link {
    font-size: 18px;
  }
}

@media (max-width:560px) {
  .header {
    padding-top: 15px;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .menu-link {
    font-size: 20px;
  }
}

/* ---------- hero ---------- */

.hero {
  padding-top: 62px;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 80px;
}

@media (max-width:560px) {
  .hero {
    padding-top: 40px
  }
}

.hero__container {
  display: flex;
}

@media (max-width:1200px) {
  .hero__container {
    row-gap: 30px;
    flex-direction: column;
  }
}

.hero__container::before,
.hero__container::after {
  position: absolute;
  content: "";
  background-color: #4475f2;
  height: 150%;
  transform-origin: left bottom;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, .25);
  width: 200vw;
  border-radius: 50px;
  bottom: 0;
}

.hero__container::before {
  left: calc(50% + 30px);
  transform: skewX(-20deg);
}

.hero__container::after {
  left: calc(50% + 444px);
  transform: skewX(31deg);
}

.hero-content {
  flex: 0 1 50%;

  display: grid;
  align-content: start;
  justify-items: start;
  gap: 30px;
  position: relative;
  z-index: 2;
}

@media (min-width:1200px) {
  .hero-content {
    padding-right: 20px;
  }
}

@media (max-width:520px) {
  .hero-content {
    justify-items: center;
  }
}

.content-title {
  font-weight: 800;
  font-size: 76px;
  line-height: 1.17105;
  letter-spacing: -0.04em;
  color: #181e4b;
}

@media (max-width:600px) {
  .content-title {
    font-size: 55px;
  }
}

@media (max-width:440px) {
  .content-title {
    font-size: 48px;
  }
}

.content-title a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4475f2;
  text-shadow: 0px 0px 8px #fff;
}

.content-title a:hover {
  text-decoration: none;
}

.content-hero-text {
  max-width: 501px;
}

.content-hero-text p {
  font-size: 16px;
  line-height: 1.875;
  color: #5e6282;
}

.content-hero-text p:not(:last-child) {
  margin-bottom: 10px;
}

.content-hero-button {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5625;
  color: #fff;
  padding: 18px 54px;
  box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.5);
  background-color: #4475f2;
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: all 250ms;
}

.content-hero-button:hover {
  top: 3px;
  box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
}

.hero-images {
  flex: 0 1 50%;
}

.images-hero {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 27px;
}

.images-hero-img {
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .25);
}

.images-hero-item-01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: 10px;
}

.images-hero-item-03 {
  align-self: center;
  justify-self: end;
  grid-row: span 2;
}

.images-hero-item-04 {
  align-self: end;
  justify-self: end;
}

@media (max-width:1200px) {
  .images-hero {
    align-self: center;
  }
}

/* ----- feature ----- */

.feature {
  padding-top: 85px;
  padding-bottom: 100px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  flex: 0 1 280px;
}

.feature-item-img-box {
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  background: #4475f2;
  margin-bottom: 20px;
  border-radius: 26px;
  padding: 28px 28px 29px 29px;
}

.feature-item-img {
  width: 45px;
  height: 45px;

}

.feature-item-title {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #000;
  margin-bottom: 28px;
}

.feature-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.02em;
  text-align: center;
  color: #5e6282;
}

@media (max-width:620px) {
  .feature-list {
    justify-content: center;
  }
}

/* ----- services ----- */

.services {
  padding: 100px 0;
}

.services-items {
  display: grid;
  gap: 140px;
}

.services-items:not(:last-child) {
  margin-bottom: 140px;
}

.services-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
}

.services-item-reverse {
  flex-direction: row-reverse;
}

.services-item-reverse .services-content-body {
  margin: 0 0 0 auto;
}

.services-content {
  flex: 1 1 250px;
}

.services-content-title {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.02em;
  color: #000;
}

.services-content-title:not(:last-child) {
  margin-bottom: 40px;
}

.services-content-title-span {
  color: #4475f2;
}

.services-content-text-box p:not(:last-child) {
  margin-bottom: 15px;
}

.services-content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.02em;
  color: #5e6282;
}

.services-image {
  flex: 1 1 250px;
  border-radius: 10px;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  width: 100%;
}

@media (min-width: 799.99px) {
  .services-content-body {
    max-width: 420px;
  }
}

@media (max-width:800px) {
  .services-item {
    flex-direction: column;
  }

  .services-items:not(:last-child) {
    margin-bottom: 60px;
  }
}

/* ----- reviews ----- */

.reviews {
  padding: 100px 0;
}

.reviews-carts-list {
  display: flex;
  gap: 51px;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews-carts-item {
  /* flex: 1 1 280px; */
  width: 366px;

  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.02), 0 7px 5px 0 rgba(0, 0, 0, 0.03), 0 13px 10px 0 rgba(0, 0, 0, 0.04), 0 22px 18px 0 rgba(0, 0, 0, 0.04), 0 42px 33px 0 rgba(0, 0, 0, 0.05), 0 100px 80px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  border: 1px solid #dedede;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc((100% -51px * 2) / 3);
}

.reviews-carts-img {
  border-radius: 100%;
  stroke-width: 1px;
  stroke: #bdbdbd;
  margin: 40px 0 30px 0;
}

.reviews-carts-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.01em;
  text-align: center;
  color: #5e6282;
  margin-bottom: 25px;
  max-width: 250px;

  flex-grow: 1;
}

.reviews-carts-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.01em;
  text-align: center;
  color: #23a6f0;
  margin-bottom: 15px;
}

.reviews-carts-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.01em;
  text-align: center;
  color: #181e4b;
  margin-bottom: 46px;
}

/* ----- location ----- */

.location {
  padding: 100px 0 120px 0;
}

.location-map {
  width: 100%;
  height: 405px;

  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  border-radius: 10px;
}

/* ----- footer ----- */

.footer {
  padding-top: 120px;
}

.footer-top {
  /* max-width: 802px; */
  margin: 0 auto;
}

.footer-top-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 20px;
  margin-bottom: 94px;
}

.footer-top-title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #000;
  margin-bottom: 25px;
}

.footer-top-logo {
  max-width: 248px;
}

.footer-top-social {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  height: 93px;
  align-items: center;
}

.footer-top-slogan-link {
  display: flex;
  height: 93px;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  color: #000;
}

.footer-top-slogan-link:hover {
  text-decoration: underline;
}

.footer-bottom {
  background-color: #4475f2;
}

.footer-bottom-text {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 50px 15px;
}

@media (max-width:800px) {

  .feature,
  .services,
  .reviews,
  .location {
    padding: 50px 0;
  }

  .footer {
    padding-top: 50px;
  }
}

@media (max-width:560px) {

  .feature,
  .services,
  .reviews,
  .location {
    padding: 30px 0;
  }

  .footer {
    padding-top: 30px;
  }
}